*{
  padding: 0;
  margin: 0;
	font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.infoparent{
  display: flex;
  align-items: center;
  justify-content: space-between;   
  gap: 5rem; 
  background-color: black;
  height: 50px;
  padding: 50px;
  
}
.serv{
  /* height: 150px; */
  width: 200px;
}
p{
  font-size: 18px;
}
.number , .email, .location{
  display: flex;
  align-items: start;
	color: white;
}
.search{
  display: none;
}
@media (max-width:576px)  {
  .infoparent{
      display: none;
  }
}

@media screen and (max-width: 768px) and (max-width: 1024px) {
  /* Styles for iPads in portrait mode */
  .search{
    display: flex;
  }
}
.header {
  background-color: #333;
  color: white;
  padding: 20px;
	font-size: 20px;
	align-items: center;
	justify-content: space-even;
}
.header .dropbtn{
	color: white;
	font-size: 20px;
	align-items: center;
	justify-content: space-between;
}
.btn_1{
	height: 50px;
	font-size: 20px;
}

.header ul {
  list-style: none; /* Remove default list styles */
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Align items with space between */
  align-items: center; /* Center items vertically */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.header ul li {
  margin: 0 10px; /* Add some spacing between list items */
}

.header ul li a {
  text-decoration: none;
  color: white;
}
.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown button */
.dropbtn {
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn {
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown .drop-text{
	white-space: nowrap;
	color: green;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* top: calc(100% + 10px); Adjusted position */
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0;
  transition: opacity 9s ease; /* Smooth transition */
  margin-top: 5px; /* Adjusted position */
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1; /* Make the dropdown visible */
transition: opacity 0.3s ease; /* Apply transition */
}

@media (max-width:576px ) {
  .dropdown:hover .dropdown-content {
      display: flex;
    }
}

.btn_select_parent{
  gap: 10px;
  display: flex;
}
.btn_select_parent{
  gap: 10px;
  display: flex;
}

.btn_1{
  border: none;
  border-radius: 5px;
  background-color: grey;
  padding: 5px 21px;
  color: #fff;
}
.second .sec{
	height: 40px;
}


.company{
  font-family: arial;
  margin-left: 40px;
  font-size: 70px;
  font-weight: bold;
  margin-top:50px;
	margin-bottom: 20px;
  margin-left: 200px;
}
.side-text{
  font-family: arial;
  font-size: 20px;
}
.boxe{
	display: flex;
	justify-content: center;
	align-items: center;

}
.carde{
	height: 150px;
	width: 235px;
	padding: 10px 35px;
	background: lightgray;
  border-left: solid;
  border-left-color: blue;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
  margin-right: 150px;
  margin-bottom: 50px;
}
.prat{
	color: black;
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 35px;
}
.text{
  margin-top: -40px;
}
.text-2{
  font-family: roboto;
  line-height: 20px;
  margin-left: -80px;
}
h3{
  margin-left: 130px;
  font-size: 28px;
  font-family: arial;
  text-decoration: none;
}
.serv{
  text-decoration: none;
}
.para{
  font-family: arial;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 130px;
  letter-spacing: 1px;
}
.para-with{
	display: flex;
}
.hand{
	height: 200px;
	width: 450px;
	margin-left: 80px;
}
.message{
  font-size: 30px;
  font-weight: bolder;
}
.ayo{
  color: gray;
  font-size: 20px;
  margin-left: 130px;
  margin-top: 20px;
}
.message-ayo{
  font-family: arial;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 130px;
  letter-spacing: 1px;
}
.client{
  font-family: arial;
  font-size: 30px;
  margin-left: 130px;
  font-weight: bolder;
}
.message-client{
  color: gray;
  margin-left: 130px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  font-family: arial;
}
.imessage{
	display: block;
}
.overall-message{
	display: flex;
}
.ehi{
	width: 650px;
	height: 650px;
	margin-left: 150px;
	margin-top: -300px;
}




.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
  height: 100px;
  background: lightgray;

}
.card{
	height: 200px;
	width: 350px;
	padding: 10px 35px;
	background: #fff;
  border: 1px solid;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 25px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: green;
}
.pra p{
	color: black;
	font-size: 17px;
  text-align: left;
  font-family:  Arial, sans-serif;
}
.list li{
  list-style: none;
}
.vision-p{
  letter-spacing: -1px;
}
.be{
  margin-top: 14px;
  font-size: 17px;
  text-align: left;
}
.go{
  margin-top: 14px;
  font-size: 17px;
  text-align: left;
}
.enable{
  margin-top: 14px;
  font-size: 17px;
  text-align: left;
}
.peace{
  margin-top: 10px;
}
.vision{
  font-size: 30px;
  color: black;
  margin-left:25px;
}

.icon_contain{
  display: flex;
  align-items: center;
}
/* marquee */
.marquee {
	white-space: wrap;
	background-size: contain;
	overflow: hidden;
	width: 2000px;
	height: 180px; /* Adjust according to your needs */
}

.marquee img {
	display: inline-block;
	margin-right: 20px; /* Adjust the spacing between images */
	animation: marquee 60s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes marquee {
	from { transform: translateX(100%); }
	to { transform: translateX(-100%); }
}
.gallery-container {
  overflow: hidden;
}

.gallery {
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

.gallery img {
  display: inline-block;
  width: 400px; /* Adjust image width as needed */
  height: 200px; /* Maintain aspect ratio */
  margin-right: 20px; /* Adjust spacing between images */
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}




/*footer*/
footer{
	width:100%;
	position: absolute;
	bottom: -2870px;
	background: green;
	color: #fff;
	padding: 100px 0 30px;
	font-size: 13px;
	line-height: 20px;
}
.row{
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.col{
	flex-basis: 25%;
	padding: 10px;
	font-family: arial;
  font-size: 15px;
}
/*.col p{
	color: darkorange;
	font-family: roboto;
	left: 80px;
}*/
.col a{
	color: white;
	font-family: roboto;
}
.col li a{
  font-size: 20px;
  letter-spacing: normal;
  white-space: nowrap;
  margin-top: 10px;
}
.col h4{
	color: darkorange;
	font-family: roboto;
} 

.col h3{
	width:fit-content;
	margin-bottom: 40px;
  margin-left: 250px;
	position: relative;
	font-family: roboto;
  margin-left: 0;
}
.col:nth-child(2), .col:nth-child(3){
	flex-basis: 15%;
}
.email-id{
	width: fit-content;
	border-bottom: 1px solid #ccc;
	margin: 20px 0;
}
ul li{
	list-style:none;
	margin-bottom: 12px;
}
ul li a{
	text-decoration: none;
	color: #fff;
}
form{
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	margin-bottom: 50px;
}
form .far{
	font-size: 18px;
	margin-right: 10px;
}
form input{
	width: 100%;
	background: transparent;
	color: #ccc;
	border:0;
	outline: none;
}
form button{
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
}
form button .fas{
	font-size: 16px;
	color:#ccc;
}
.social-icons .fab{
	width:30px;
	height:40px;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: green;
	background: white;
	margin-right: 15px;
	cursor: pointer;
  margin-top: 10px;
}
.social-icon-foot .fab{
	width:40px;
	height:40px;
	border-radius: 30px;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	color: green;
	background: white;
	cursor: pointer;
  margin-top: 10px;
  margin-left: 20px;
}
.social-icon-foot {
  margin-right: 40px;
}
 hr{
	width: 90%;
	border: 0;
	border-bottom: 1px solid #ccc;
	margin: 20px auto;
} 
.underline{
	width: 280%;
	height:1px;
	background: white;
	border-radius: 3px;
	position: absolute;
	top: 25px;
	left: 0;
	overflow: hidden;
}
.underline span{
	width: 15px;
	border-radius: px;
	position: absolute;
}
.left-foot{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copy{
  margin-left: 50px;
}




@media(max-width:500px){
  body{
    background-color: red;

  }
  .menu-bar ul li{
  	display: column;
  	flex-direction: column;
  	align-items: center;
  }
}

